/* Estilos personalizados para las pills */
.nav-pills .nav-link {
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px 20px; /* Más padding para mayor tamaño */
    font-weight: 500; /* Texto con algo de negrita */
    transition: all 0.3s ease-in-out; /* Transición suave */
}

.nav-pills .nav-link:hover {
    background-color: #e9ecef; /* Color al pasar el ratón */
    color: #007bff; /* Color de texto azul al pasar el ratón */
}

.nav-pills .nav-link.active {
    background-color: #007bff; /* Fondo azul para el elemento activo */
    color: white; /* Texto blanco cuando está activo */
    font-weight: 600; /* Texto más grueso cuando está activo */
}

/* Estilos de contenido de las pills */
.tab-content {
    margin-top: 20px; /* Espacio superior para separar las pills del contenido */
}

.tab-pane {
    display: none;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.tab-pane a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd; /* Borde inferior entre enlaces */
}

.tab-pane a:hover {
    background-color: #e9ecef;
    color: #007bff; /* Color de texto de los enlaces al pasar el ratón */
}
.carousel {
    max-width: 800px;
    margin: 20px auto;
}
.carousel-item img {
    height: 400px;
    object-fit: cover;
}
.card {
    height: 100%;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    z-index: 9999;
    display: none;
  }
  .cookie-banner button.close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #721c24;
  }